body {
    font-family: Arial, sans-serif;
    background: #2b1010;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 10px;
    text-align: center;
}

input {
    width: 94%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    background: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #45a049;
}

.resultado {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.linha {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.linha label {
    width: 20px;
    text-align: center;
}

.linha input {
    width: 80px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    text-align: center;
}